
.card {
    height: 80%;
    width: 25%;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.imgcard {
    height: 70%;
}