.card {
    height: 80%;
    /* here */
    width: 23%;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.imgcard {
    height: 70%;
}

/* here */
.button {
    padding: 1% 2%;
    background-color: darkgreen;
    color: lightyellow;
    border: 1px solid darkgreen;
}

/* here */
.button:hover {
    background-color: lightyellow;
    color : darkgreen;
}

.button[disabled] {
    background-color: rgb(211, 211, 211);
    color : rgb(126, 119, 119);
    border : 1px solid rgb(126, 119, 119);
}