
.container {
    width: 80vw;
    height: 30vh;
    margin : auto;
    background-color: rgb(183, 208, 183);
    display: flex;
    /* new */
    justify-content: space-around;
    align-items: center;
}

.count{
    text-align: center;
}