
.container {
    width: 80vw;
    margin : auto;
    background-color: rgb(228, 193, 198);
    padding: 2% 0;
   
}

.contacts {
    border : 1px solid black;
    border-radius: 15px;
    width: 80%;
    margin: auto;
}

.formulaire {

}